.level-selection-page {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #f44336;
    margin-bottom: 20px;
  }
  
  .level-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }
  
  .level-button {
    padding: 10px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .level-button.locked {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .level-button:hover {
    background-color: #ff9800;
  }
  .level-button-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .level-button-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
    