.testimonial {
    padding: 2rem;
  }
  
  .testimonialh1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .testimonialp {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    
  }
  
  .testimonialflex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
  }
  
  .testimonialflexbox {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 2s ease;
    cursor:default;
  }
  
  .testimonialflexbox h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .testimonialflexbox p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    opacity: 0.6;
  }
  .testimonialflexbox:hover{
   background-color: rgb(139, 132, 132);
   color: white;
  }