.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff
}
  
  .left-section {
    flex: 1;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Heading1 {
    font-size: 2rem;
    color: #333;
    margin-top: 0;
    margin-left: 70px;
  }
  
  .Heading2 {
    font-size: 1.5rem;
    color: #666;
    margin-top: 10px;
    margin-left: 70px;
  }
  
  .rating {
    color: #f0ad4e;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-left: 70px;
  }
  
  .Details {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    margin-left: 70px;
    letter-spacing: 0.6px;
    line-height: 1.9em;
  }
  .points{
    margin-left: 60px;
    letter-spacing: 0.6px;
    line-height: 1.8em;
  }
  .icons-section {
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

  }
  
  .icon-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

  }
  
  .icon-item i {
    font-size: 2rem;
    color: #053E56;;
    margin-right: 10px;
   
  }
  
  .icon-item p {
    font-size: 1rem;
    color: #333;
    font-size: larger;
    font-family:sans-serif;
  }
  
  .course-image {
    text-align: center;
    margin-top: 90px;
  }
  
  .course-image img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .buttons {
    margin-top: 20px;
    margin-top: 150px;
  }
  
  .buttons .btn {
    display: inline-block;
    padding: 20px 20px;
    margin-right: 10px;
    font-size: 1rem;
    color:black;
    background: linear-gradient(135deg,   #ace943,  rgb(94, 202, 229));
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttons .btn:hover {
    background: linear-gradient(135deg, rgb(94, 202, 229), #ace943,);
    
  }
